extends ../layout/base

block contents
    .px-5.mt-1.mb-2.vstack.gap-3
        .card 
            .card-header.hstack.justify-content-between
                span displayMode: queue
            .card-body
                #ggantt-queue.ggantt

        .card 
            .card-header.hstack.justify-content-between
                span displayMode: group
            .card-body
                #ggantt-group.ggantt
        .card 
            .card-header.hstack.justify-content-between
                span displayMode: separated
            .card-body
                #ggantt-separated.ggantt

        .card
            .card-header.hstack.justify-content-between
                span Usage
            .card-body 
                pre const chartObj = new gGantt.Chart(rootElement, Data, Options)

        .card
            .card-header.hstack.justify-content-between
                span Method
            .card-body 
                pre chartObj.init() // initialize chart
        .card
            .card-header.hstack.justify-content-between
                span Options
            .card-body 
                pre.
                    autoInitialize: (true || false), // default: true
                    displayMode: ("queue" || "group" || "separated"), // default: "group"
                    stackGap: (0 ~ 5), // default: 2
                    tickPositionBottom: (true || false), // default: false
                    showRange: (true || false), // default: false
                    useTooltip: (true || false), // default: true
                    tooltipPlacement: ("top" || "bottom"), // default: bottom
                    useTimeline: (true || false), // default: true
                    useDivider: true, // default: true
                    tooltipTemplate: ("HTML String" || false), // default: false
                    labelTemplate: ("HTML String" || false), // default: false
                    fieldTitle: ("HTML String"), // default: "데이터명"

        .card
            .card-header.hstack.justify-content-between
                span Template Keyword Reservation
            .card-body 
                strong Usage: @ggantt:#[i keyword] @
                pre.
                    제목: title
                    시작 타임스탬프: start
                    시작 일자: startDate
                    시작 년: startYear
                    시작 월: startMonth
                    시작 일: startDay
                    시작 시간: startTime
                    시작 GMT시간: startGMT
                    시작 시: startHour
                    시작 분: startMinute
                    시작 초: startSecond
                    종료 타임스탬프: end
                    종료 일자: endDate
                    종료 년: endYear
                    종료 월: endMonth
                    종료 일: endDay
                    종료 GMT시간: endGMT
                    종료 시간: endTime
                    종료 시: endHour
                    종료 분: endMinute
                    종료 초: endSecond
            .card-footer 
                strong example
                pre.
                    &lt;span class="d-block">&lt;strong>제목:&lt;/strong> @ggantt:title@&lt;/span>
                    &lt;span class="d-block">&lt;strong>시작 일자:&lt;/strong> @ggantt:startDate@&lt;/span>
                span will be replaced to:
                pre.
                    &lt;span class="d-block">&lt;strong>제목:&lt;/strong> 업무 A&lt;/span>
                    &lt;span class="d-block">&lt;strong>시작 일자:&lt;/strong> 2022. 07. 07.&lt;/span>

//- block scripts
//-     script(src="/static/assets/sampleData.js") 
//-     script.
//-         const queue = new gGantt.Chart(document.querySelector("#ggantt-queue"), sampleData, { displayMode: "queue", tooltipTemplate: templateSample, labelTemplate: templateSample });
//-         const group = new gGantt.Chart(document.querySelector("#ggantt-group"), sampleData);
//-         const separated = new gGantt.Chart(document.querySelector("#ggantt-separated"), sampleData, { displayMode: "separated" });
