extends ../layout/base

block contents
    .px-5.mt-4
        .card 
            .card-header.hstack.justify-content-between
                span gGantt
            .card-body
                #ggantt-sample.ggantt
