@charset "UTF-8";
.ggantt,
.ggantt .ggantt-tick-wrap {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0 -0.75rem;
}
.ggantt .ggantt-label,
.ggantt .ggantt-bar-wrap {
  height: 1.5rem;
}
.ggantt .ggantt-bar-wrap {
  display: flex;
  width: 100%;
  position: relative;
}
.ggantt .ggantt-bar-area,
.ggantt .ggantt-label-area {
  height: 100%;
}
.ggantt .ggantt-bar-area,
.ggantt .ggantt-label-area,
.ggantt .ggantt-collapse-inner {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
  gap: 0.5rem;
}
.ggantt .ggantt-label-area {
  flex-wrap: nowrap;
}
.ggantt .ggantt-bar-area {
  position: relative;
  overflow: auto;
}
.ggantt .ggantt-bar {
  color: #fff;
  font-weight: 700;
  position: absolute;
  padding: 0 0.5rem;
  transition: background-color 0.5s ease;
  display: flex;
}
.ggantt .ggantt-bar.rounded-end::before {
  content: "←";
  margin-right: 0.25rem;
}
.ggantt .ggantt-bar.rounded-start::after {
  content: "→";
  margin-left: auto;
}
.ggantt .ggantt-field,
.ggantt .ggantt-bar,
.ggantt .ggantt-label,
.ggantt .ggantt-tick {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ggantt .ggantt-status-running {
  background-color: #0d6efd;
  animation: blink ease-out 2s infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
.ggantt .ggantt-status-queued {
  background-color: #6c757d;
}
.ggantt .ggantt-status-done {
  background-color: #198754;
  opacity: 50%;
}
.ggantt .ggantt-timeline-wrap,
.ggantt .ggantt-timeline-inner,
.ggantt .ggantt-cursor-inner {
  height: 100%;
  width: 100%;
}
.ggantt .ggantt-timeline-wrap {
  position: absolute;
}
.ggantt .ggantt-timeline-inner {
  position: relative;
}
.ggantt .ggantt-timeline,
.ggantt .ggantt-cursor {
  position: absolute;
  height: 100%;
  opacity: 0.75;
  background-color: #ffc107;
}
.ggantt .ggantt-timeline {
  width: 2px;
  transform: translateX(-1px);
  background-color: #ffc107;
}
.ggantt .ggantt-cursor.show {
  border-left: 1px solid #dee2e6;
}
.ggantt .ggantt-timeline-wrap,
.ggantt .ggantt-tick-wrap,
.ggantt .ggantt-bar-wrap {
  min-width: 43rem;
  width: 100%;
}
.ggantt .ggantt-tick {
  text-align: right;
  padding-right: 0.25rem;
  border-right: 1px solid #dee2e6;
}
.ggantt .ggantt-divider-wrap {
  padding: 0 0.5rem;
}
.ggantt .ggantt-divider-wrap .ggantt-divider {
  width: 3px;
  transition: transform ease-in-out 0.1s;
  background-color: #6c757d;
  opacity: 0.5;
  height: 100%;
}
.ggantt .ggantt-divider-wrap:hover .ggantt-divider {
  transform: scaleX(150%);
  cursor: col-resize;
}
.ggantt .ggantt-field {
  font-weight: 700;
}
.ggantt .ggantt-label-area,
.ggantt .ggantt-divider-wrap,
.ggantt .ggantt-divider {
  flex: 0 0 auto;
  width: auto;
}
.ggantt .ggantt-void {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}
.ggantt .ggantt-void::before {
  content: "✖";
  font-size: 2rem;
  opacity: 0.5;
}

.ggantt-tooltip {
  position: absolute;
}
/*# sourceMappingURL=ggantt.css.map */