// Maps

// Color system
$theme-colors: map-merge(
    $theme-colors,
    (
        "gridone": $gridone,
    )
);

// Spacing
$spacers: map-merge(
    $spacers,
    (
        6: $spacer * 4,
        7: $spacer * 6,
        8: $spacer * 7.5,
        9: $spacer * 9,
        10: $spacer * 10,
    )
);

// Position
$position-values: map-merge(
    $position-values,
    (
        25: 25%,
        75: 75%,
    )
);

// Components
$border-widths: map-merge(
    $border-widths,
    (
        0: 0,
    )
);

$font-family-sans-serif: pretendard, -apple-system, blinkmacsystemfont,
    system-ui, roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
$font-sizes: map-merge(
    $font-sizes,
    (
        7: $font-size-base * 0.75,
        8: $font-size-base * 0.5,
    )
);
