// Variables

// Color system
$white: #fff;
$black: #000;
$orange: #f08300;
$gridone: $orange;

// Options
$enable-negative-margins: true;

// Prefix for :root CSS variables
$prefix: gr-;

// Spacing
$spacer: 1rem;

// Body
$accent-bg: shade-color($gridone, 10%);

// Links
$link-color: $gridone;

// Components
$component-active-bg: $gridone;
$font-weight-bold: 700;
$font-weight-extra: 800;
