// Variables

// Color system
$white: #fff;
$black: #000;
$orange: #f08300;
$gridone: $orange;

// Options
$enable-negative-margins: true;

// Prefix for :root CSS variables
$prefix: gr-;

// Spacing
$spacer: 1rem;

// Body
$accent-bg: shade-color($gridone, 10%);

// Links
$link-color: $gridone;

// Grid columns
$grid-gutter-width: 2rem;
$grid-row-columns: 8;

// Container padding
$container-padding-x: $grid-gutter-width * 0.5;

// Components
$border-radius: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1.5rem;
$border-radius-2xl: 2.5rem;
$border-radius-pill: 50rem;
$box-shadow-lg: 0 1.5rem 3rem rgba($black, 0.1);
$component-active-bg: $gridone;
$font-weight-bold: 700;
$font-weight-extra: 800;
$legend-margin-bottom: 0;
$legend-font-size: 1.25rem;
$legend-font-weight: $font-weight-bold;

// Buttons + Forms
$input-btn-focus-width: 1;

// Navs
$nav-pills-border-radius: $border-radius-pill;

// Navbar
$navbar-dark-color: rgba($white, 0.75);
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($black, 0.55);
$navbar-light-hover-color: var(--#{$prefix}emphasis-color);

// Accordion
$accordion-button-active-bg: null;
$accordion-button-active-color: $gridone;

// Popovers
$popover-border-radius: var(--#{$prefix}border-radius);

// Alerts
$alert-padding-y: $spacer * 1.5;
$alert-padding-x: $spacer * 1.5;
$alert-border-radius: var(--#{$prefix}border-radius-lg);

// Breadcrumbs
$breadcrumb-item-padding-x: $spacer * 1.5;
$breadcrumb-divider: \f285;
