.shake-element {
    animation: shake 0.1s ease-in;
    @keyframes shake {
        0% {
            transform: translateX(0rem);
        }
        25% {
            transform: translateX(-0.5rem);
        }
        50% {
            transform: translateX(0rem);
        }
        75% {
            transform: translateX(0.5rem);
        }
        100% {
            transform: translateX(0rem);
        }
    }
}
