.form-toggle {
    &:not(.opened) {
        .form-save-btn {
            display: none;
        }
        .form-cancel-btn {
            display: none;
        }
        .form-update-btn {
            display: none;
        }
        .assign-hint {
            display: none;
        }
        .name-remove {
            display: none;
        }
    }
    &.opened {
        .form-edit-btn {
            display: none;
        }
        .form-remove-btn {
            display: none;
        }
    }

    .form-assign-wrap:not([readonly]):not(.is-invalid) {
        &:focus-within {
            color: $input-focus-color;
            background-color: $input-focus-bg;
            border-color: $input-focus-border-color;
            outline: 0;
            @if $enable-shadows {
                @include box-shadow($input-box-shadow, $input-focus-box-shadow);
            } @else {
                box-shadow: $input-focus-box-shadow;
            }
        }
    }

    .name-holder {
        .badge {
            position: relative;
            .name-remove {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 0.25rem;
                background-color: inherit;
                padding: 0.1rem;
            }
        }
        .badge:not(:hover) {
            .name-remove {
                display: none;
            }
        }
    }
}
