.ggantt {
    position: relative;
    &::before {
        content: "";
        width: 100%;
        background-color: $header-bg;
        position: absolute;
        z-index: -1;
    }
}

.ggantt-text {
    padding: 0 0.5rem;
}

.ggantt-text,
.ggantt-field,
.ggantt-bar,
.ggantt-tick {
    @include truncate();
}

.ggantt::before,
.ggantt-field,
.ggantt-label,
.ggantt-bar-wrap,
.ggantt-bar-area::before,
.ggantt-field .ggantt-text,
.ggantt-tick .ggantt-text {
    height: calc($row-height + $row-gap);
}

.ggantt-label,
.ggantt-bar-wrap {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &.hover::after {
        background-color: $hover-bg;
    }
}

.ggantt-bar-wrap {
    display: flex;
    width: 100%;
    position: relative;
}

.ggantt-label,
.ggantt-bar {
    display: flex;
    align-items: center;
}

.ggantt-timeline-wrap,
.ggantt-tick-wrap,
.ggantt-bar-wrap {
    min-width: $bar-area-min-width;
    width: 100%;
}

.ggantt-row-border {
    &::before {
        border-bottom: 1px solid $line-color;
    }
    .ggantt-label,
    .ggantt-bar-wrap {
        &:after {
            height: calc(100% + 1px) !important;
            border-top: 1px solid $line-color;
        }
    }
}

.ggantt-bar-area,
.ggantt-label-area,
.ggantt-collapse-inner {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
}

.ggantt-label-area {
    flex-wrap: nowrap;
}

.ggantt-bar-area {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    &::before {
        content: "";
    }
}

.ggantt-label-area,
.ggantt-divider-wrap,
.ggantt-divider {
    flex: 0 0 auto;
    width: auto;
}

.ggantt-tooltip {
    position: absolute;
}

.ggantt-field,
.ggantt-tick {
    .ggantt-text {
        display: flex;
        align-items: center;
        margin-bottom: auto;
        line-height: 1rem;
    }
}

.ggantt-tick {
    display: flex;
    justify-content: flex-end;
}
