$utilities: map-merge(
    $utilities,
    (
        "background-color":
            map-merge(
                map-get($utilities, "background-color"),
                (
                    values:
                        map-merge(
                            map-get(
                                map-get($utilities, "background-color"),
                                "values"
                            ),
                            (
                                "body": var(--#{$prefix}body-bg),
                            )
                        ),
                )
            ),
        "font-weight": (
            property: font-weight,
            class: fw,
            responsive: true,
            values: (
                light: $font-weight-light,
                lighter: $font-weight-lighter,
                normal: $font-weight-normal,
                bold: $font-weight-bold,
                semibold: $font-weight-semibold,
                bolder: $font-weight-bolder,
                extra: $font-weight-extra,
            ),
        ),
        "bg-opacity": (
            css-var: true,
            class: bg-opacity,
            values: (
                3: 0.03,
                5: 0.05,
                10: 0.1,
                15: 0.15,
                20: 0.2,
                25: 0.25,
                50: 0.5,
                75: 0.75,
                100: 1,
            ),
        ),
        "rounded": (
            property: border-radius,
            class: rounded,
            values: (
                null: var(--#{$prefix}border-radius),
                0: 0,
                1: var(--#{$prefix}border-radius-sm),
                2: var(--#{$prefix}border-radius),
                3: var(--#{$prefix}border-radius-lg),
                4: var(--#{$prefix}border-radius-xl),
                5: var(--#{$prefix}border-radius-2xl),
                circle: 50%,
                pill: var(--#{$prefix}border-radius-pill),
            ),
        ),
        "border-opacity": (
            css-var: true,
            class: border-opacity,
            values: (
                3: 0.03,
                5: 0.05,
                10: 0.1,
                15: 0.15,
                20: 0.2,
                25: 0.25,
                50: 0.5,
                75: 0.75,
                100: 1,
            ),
        ),
        "z-index": (
            property: z-index,
            class: z-index,
            values: (
                n1: -1,
                0: 0,
                1: 1,
                2: 2,
                3: 3,
                4: 4,
                5: 5,
                9999: 9999,
            ),
        ),
        "ratio": (
            css-var: true,
            css-variable-name: aspect-ratio,
            class: ratio,
            responsive: true,
            values: $aspect-ratios,
        ),
    )
);

@each $color, $value in $theme-colors {
    .bg-#{$color}-blur {
        background-color: rgba(
            $value,
            var(--#{$prefix}bg-opacity, 0.7)
        ) !important;
        backdrop-filter: blur(25px);
        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
            background-color: $value;
        }
    }
}
