.ggantt-root {
    &,
    .ggantt-tick-wrap {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 0 -0.75rem;
    }
}

$ggantt-row-height: 1.5rem;
$ggantt-blink-opacity: 75%;

.ggantt-label,
.ggantt-bar-wrap {
    height: $ggantt-row-height;
}

.ggantt-bar-wrap {
    display: flex;
    width: 100%;
    position: relative;
}

.ggantt-bar-area,
.ggantt-label-area {
    height: 100%;
}

.ggantt-label-area {
    flex-wrap: nowrap;
}

.ggantt-bar-area {
    position: relative;
    overflow: auto;
}

.ggantt-bar {
    color: var(--bs-white);
    font-weight: 700;
    position: absolute;
    padding: 0 0.5rem;
    transition: background-color 0.5s ease;
    display: flex;

    &.rounded-end::before {
        content: "\2190";
        margin-right: 0.25rem;
    }
    &.rounded-start::after {
        content: "\2192";
        margin-left: auto;
    }
}

.ggantt-field,
.ggantt-bar,
.ggantt-label,
.ggantt-tick {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ggantt-status-running {
    background-color: var(--bs-primary);
    animation: blink ease-out 2s infinite;
    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: $ggantt-blink-opacity;
        }
        100% {
            opacity: 100%;
        }
    }
}

.ggantt-status-queued {
    background-color: var(--bs-secondary);
}

.ggantt-status-done {
    background-color: var(--bs-success);
    opacity: 50%;
}

.ggantt-timeline-wrap,
.ggantt-timeline-inner,
.ggantt-cursor-inner {
    height: 100%;
    width: 100%;
}

.ggantt-timeline-wrap {
    position: absolute;
}

.ggantt-timeline-inner {
    position: relative;
}

.ggantt-timeline,
.ggantt-cursor {
    position: absolute;
    height: 100%;
    opacity: 0.75;
    background-color: var(--bs-warning);
}

.ggantt-timeline {
    width: 2px;
    transform: translateX(-1px);
    background-color: var(--bs-warning);
}

.ggantt-cursor.show {
    border-left: 1px var(--bs-border-style) var(--bs-border-color);
}

.ggantt-timeline-wrap,
.ggantt-tick-wrap,
.ggantt-bar-wrap {
    min-width: 43rem;
    width: 100%;
}

.ggantt-tick {
    text-align: right;
    padding-right: 0.25rem;
    border-right: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color);
}

.ggantt-divider-wrap {
    padding: 0 0.5rem;
    .ggantt-divider {
        width: 3px;
        transition: transform ease-in-out 0.1s;
        background-color: var(--bs-secondary);
        opacity: 0.5;
        height: 100%;
    }
    &:hover {
        .ggantt-divider {
            transform: scaleX(150%);
            cursor: col-resize;
        }
    }
}

.ggantt-field {
    font-weight: 700;
}

.ggantt-tooltip {
    position: absolute;
}

.ggantt-label-area,
.ggantt-divider-wrap,
.ggantt-divider {
    flex: 0 0 auto;
    width: auto;
}
